@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");
body {
  margin: 0;
  font-family: 'Calistoga', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C1ABA6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.header {
  font-family: 'Jost', sans-serif;
}

.ui.menu .item {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  position: static;
}

h1 {
  font-family: 'Jost', sans-serif;
}

.ui.primary.button {
  background-color: #86A397;
  color: black;
}

.ui.button {
  background-color: #86A397;
  color: black;
}

.ui.menu {
  background-color: #F4E9E7;
}

.ui.header {
  text-align: center;
}

.ui.card .meta, .ui.cards>.card .meta {
  color: black;
}

.logo {
  font-size: 55px;
}